VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=SUA_CHAVE_PUBLICA_ANON
VITE_VAPID_PUBLIC_KEY=BAiTV-rarqYSNg21ZaucjGpvj-yAGl9bf8lEZ9BTwkmaK4SOou-6GuVGOqEQELd-P304cMxgZ2uhrfHDX8l0mMM
